nodered/data/lib/flows/device_telemetry.json
[
    {
        "id": "b8f5c6bb9e8e1d3a",
        "type": "tab",
        "label": "Device Telemetry",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a1b2c3d4e5f6a7b8",
        "type": "mqtt in",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "MQTT In: device telemetry",
        "topic": "device/telemetry",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "mqtt_broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "json_parse_node"
            ]
        ]
    },
    {
        "id": "json_parse_node",
        "type": "json",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "JSON parse",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "validate_node"
            ]
        ]
    },
    {
        "id": "validate_node",
        "type": "function",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "Validate + normalize",
        "func": "const p = msg.payload;\n\n// Basic shape checks\nif (!p || typeof p !== 'object') {\n  msg.dlq_reason = 'payload_not_object';\n  return [null, msg];\n}\n\nconst requiredTop = ['device_id','event_id','ts','cpu','memory','disk','network','uptime_s'];\nfor (const k of requiredTop) {\n  if (p[k] === undefined || p[k] === null) {\n    msg.dlq_reason = `missing_${k}`;\n    return [null, msg];\n  }\n}\n\nif (!p.cpu || p.cpu.percent === undefined) {\n  msg.dlq_reason = 'missing_cpu.percent';\n  return [null, msg];\n}\n\n// Choose a stable device key for routing\nconst serial = p.network?.serial_id;\nconst mac = p.network?.mac_address;\nmsg.device_key = serial || mac || 'unknown';\n\n// Normalize numeric types\np.cpu.percent = Number(p.cpu.percent);\nif (p.cpu.temp_c !== null && p.cpu.temp_c !== undefined) p.cpu.temp_c = Number(p.cpu.temp_c);\nif (p.gpu?.temp_c !== null && p.gpu?.temp_c !== undefined) p.gpu.temp_c = Number(p.gpu.temp_c);\n\np.memory.total_mb = Number(p.memory.total_mb);\np.memory.used_mb = Number(p.memory.used_mb);\np.memory.percent = Number(p.memory.percent);\n\np.disk.total_gb = Number(p.disk.total_gb);\np.disk.used_gb = Number(p.disk.used_gb);\np.disk.percent = Number(p.disk.percent);\n\np.uptime_s = Number(p.uptime_s);\n\nmsg.payload = p;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 140,
        "wires": [
            [
                "debug_ok"
            ],
            [
                "dlq_topic_set"
            ]
        ]
    },
    {
        "id": "debug_ok",
        "type": "debug",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "OK telemetry",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "device_key",
        "statusType": "msg",
        "x": 880,
        "y": 120,
        "wires": []
    },
    {
        "id": "dlq_topic_set",
        "type": "change",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "DLQ topic + payload wrap",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "dlq/device_telemetry",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"reason\": $$.dlq_reason, \"original\": $$.payload}",
                "tot": "jsonata"
            }
        ],
        "x": 900,
        "y": 180,
        "wires": [
            [
                "mqtt_out_dlq",
                "debug_dlq"
            ]
        ]
    },
    {
        "id": "mqtt_out_dlq",
        "type": "mqtt out",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "Publish DLQ",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_local",
        "x": 1120,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug_dlq",
        "type": "debug",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "DLQ telemetry",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1140,
        "y": 240,
        "wires": []
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-local",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "30",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "nodered/status",
        "birthQos": "1",
        "birthPayload": "{\"status\":\"online\"}",
        "birthMsg": {},
        "closeTopic": "nodered/status",
        "closeQos": "1",
        "closePayload": "{\"status\":\"offline\"}",
        "closeMsg": {},
        "willTopic": "nodered/status",
        "willQos": "1",
        "willPayload": "{\"status\":\"offline\"}",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]