nodered/data/flows.json
[
    {
        "id": "b8f5c6bb9e8e1d3a",
        "type": "tab",
        "label": "Device Telemetry",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "nodered-local",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "30",
        "cleansession": false,
        "autoUnsubscribe": true,
        "birthTopic": "nodered/status",
        "birthQos": "1",
        "birthPayload": "{\"status\":\"online\"}",
        "birthMsg": {},
        "closeTopic": "nodered/status",
        "closeQos": "1",
        "closePayload": "{\"status\":\"offline\"}",
        "closeMsg": {},
        "willTopic": "nodered/status",
        "willQos": "1",
        "willPayload": "{\"status\":\"offline\"}",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "13d9126a6ca72f4a",
        "type": "sqlitedb",
        "db": "/data/sqlite/app.db",
        "mode": "RWC"
    },
    {
        "id": "a1b2c3d4e5f6a7b8",
        "type": "mqtt in",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "MQTT In: device telemetry",
        "topic": "device/telemetry",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "validate_node"
            ]
        ]
    },
    {
        "id": "validate_node",
        "type": "function",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "Validate + normalize",
        "func": "const p = msg.payload;\n\n// 1) Basic payload checks\nif (!p || typeof p !== \"object\") {\n  msg.dlq_reason = \"payload_not_object\";\n  return [null, msg];\n}\n\n// 2) Resolve device_id (must equal serial_id)\n// Priority: payload.device_id -> payload.network.serial_id -> payload.network.mac_address -> \"unknown\"\nconst net = p.network || {};\nconst deviceId =\n  p.device_id ||\n  net.serial_id ||\n  net.mac_address ||\n  \"unknown\";\n\np.device_id = deviceId;\np.network = net;\np.network.serial_id = deviceId;  // IMPORTANT: enforce same value\n\n// 3) Required keys (after fix)\nconst requiredTop = [\"device_id\", \"event_id\", \"ts\", \"cpu\", \"memory\", \"disk\", \"network\", \"uptime_s\"];\nfor (const k of requiredTop) {\n  if (p[k] === undefined || p[k] === null) {\n    msg.dlq_reason = `missing_${k}`;\n    return [null, msg];\n  }\n}\nif (p.device_id === \"unknown\") {\n  msg.dlq_reason = \"device_id_unknown\";\n  return [null, msg];\n}\n\n// 4) Normalize numeric types\np.cpu.percent = Number(p.cpu.percent);\nif (p.cpu.temp_c !== null && p.cpu.temp_c !== undefined) p.cpu.temp_c = Number(p.cpu.temp_c);\n\nif (p.gpu && p.gpu.temp_c !== null && p.gpu.temp_c !== undefined) p.gpu.temp_c = Number(p.gpu.temp_c);\n\np.memory.total_mb = Number(p.memory.total_mb);\np.memory.used_mb  = Number(p.memory.used_mb);\np.memory.percent  = Number(p.memory.percent);\n\np.disk.total_gb = Number(p.disk.total_gb);\np.disk.used_gb  = Number(p.disk.used_gb);\np.disk.percent  = Number(p.disk.percent);\n\np.uptime_s = Number(p.uptime_s);\n\n// 5) Convenience key for DB joins / routing\nmsg.device_key = p.device_id;\nmsg.payload = p;\n\nreturn [msg, null]; // output1 OK, output2 DLQ",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "debug_ok",
                "666076623457346d",
                "func_prep_devices"
            ],
            [
                "dlq_topic_set"
            ]
        ]
    },
    {
        "id": "debug_ok",
        "type": "debug",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "OK telemetry",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "device_key",
        "statusType": "msg",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "dlq_topic_set",
        "type": "change",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "DLQ topic + payload wrap",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "dlq/device_telemetry",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"reason\": $$.dlq_reason, \"original\": $$.payload}",
                "tot": "jsonata"
            }
        ],
        "x": 740,
        "y": 300,
        "wires": [
            [
                "mqtt_out_dlq",
                "debug_dlq",
                "b7897bb1fc4c07a3"
            ]
        ]
    },
    {
        "id": "mqtt_out_dlq",
        "type": "mqtt out",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "Publish DLQ",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_local",
        "x": 970,
        "y": 360,
        "wires": []
    },
    {
        "id": "debug_dlq",
        "type": "debug",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "DLQ telemetry",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 420,
        "wires": []
    },
    {
        "id": "52a7c7c8188e73ba",
        "type": "sqlite",
        "z": "b8f5c6bb9e8e1d3a",
        "mydb": "13d9126a6ca72f4a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Upsert into devices",
        "x": 970,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f720d03b4fba0e63",
        "type": "sqlite",
        "z": "b8f5c6bb9e8e1d3a",
        "mydb": "13d9126a6ca72f4a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Insert telemetry (dedupe-safe)",
        "x": 1010,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "666076623457346d",
        "type": "function",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "Prep telemetry params",
        "func": "const p = msg.payload;\nconst n = p.network || {};\n\n// Helper to sanitize strings for SQLite (escape single quotes)\nconst safe = (v) => (v === null || v === undefined) ? \"NULL\" : `'${String(v).replace(/'/g, \"''\")}'`;\n// Helper for numbers\nconst num = (v) => (v === null || v === undefined || isNaN(v)) ? \"NULL\" : Number(v);\n\nconst rawJson = JSON.stringify(p);\n\n// Manual SQL Construction (Bypassing binding issues)\nmsg.topic = `INSERT INTO device_telemetry (\n  device_id, event_id, ts,\n  cpu_percent, cpu_temp_c, gpu_temp_c,\n  mem_total_mb, mem_used_mb, mem_percent,\n  disk_total_gb, disk_used_gb, disk_percent,\n  serial_id, mac_address, inet, inet6, ether,\n  uptime_s, raw_json\n) VALUES (\n  ${safe(p.device_id)}, ${safe(p.event_id)}, ${safe(p.ts)},\n  ${num(p.cpu.percent)}, ${num(p.cpu.temp_c)}, ${num(p.gpu ? p.gpu.temp_c : null)},\n  ${num(p.memory.total_mb)}, ${num(p.memory.used_mb)}, ${num(p.memory.percent)},\n  ${num(p.disk.total_gb)}, ${num(p.disk.used_gb)}, ${num(p.disk.percent)},\n  ${safe(n.serial_id)}, ${safe(n.mac_address)}, ${safe(n.inet)}, ${safe(n.inet6)}, ${safe(n.ether)},\n  ${num(p.uptime_s)}, ${safe(rawJson)}\n) ON CONFLICT(event_id) DO NOTHING;`;\n\n// Clear params to ensure raw execution\ndelete msg.params;\ndelete msg.payload;\n\n// node.warn(\"MANUAL SQL GENERATED\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 200,
        "wires": [
            [
                "f720d03b4fba0e63"
            ]
        ]
    },
    {
        "id": "func_prep_devices",
        "type": "function",
        "z": "b8f5c6bb9e8e1d3a",
        "name": "Prep devices params",
        "func": "const p = msg.payload;\nconst n = p.network || {};\n\nconst safe = (v) => (v === null || v === undefined) ? \"NULL\" : `'${String(v).replace(/'/g, \"''\")}'`;\n\nmsg.topic = `INSERT INTO devices (\n  device_id, updated_on, mac_address, inet_last, inet6_last\n) VALUES (\n  ${safe(p.device_id)},\n  STRFTIME('%Y-%m-%dT%H:%M:%fZ','now'),\n  ${safe(n.mac_address)},\n  ${safe(n.inet)},\n  ${safe(n.inet6)}\n) ON CONFLICT(device_id) DO UPDATE SET\n  updated_on  = STRFTIME('%Y-%m-%dT%H:%M:%fZ','now'),\n  mac_address = COALESCE(excluded.mac_address, devices.mac_address),\n  inet_last   = COALESCE(excluded.inet_last, devices.inet_last),\n  inet6_last  = COALESCE(excluded.inet6_last, devices.inet6_last);`;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 140,
        "wires": [
            [
                "52a7c7c8188e73ba"
            ]
        ]
    },
    {
        "id": "b7897bb1fc4c07a3",
        "type": "sqlite",
        "z": "b8f5c6bb9e8e1d3a",
        "mydb": "13d9126a6ca72f4a",
        "sqlquery": "fixed",
        "sql": "INSERT INTO device_telemetry_dlq (\n    reason, \n    topic, \n    raw_payload\n) \nVALUES (\n    msg.payload.reason, \n    msg.topic, \n    JSON.stringify(msg.payload.original)\n);",
        "name": "DLQ insert",
        "x": 970,
        "y": 480,
        "wires": [
            []
        ]
    }
]